<nav class="navbar">
  <div class="nav-left" (click)="goToLanding()">Voting System</div>
  <div class="nav-right">
    <button (click)="goToRegister()">Register</button>
    <button (click)="goToLogin()">Login</button>
  </div>
</nav>

<body>
  <img class="bg-img" src="2.webp">
  <div class="landing-container">
  <div class="quote-container" style="margin-bottom: 30px;">
    <h1>"The vote is precious. It is almost sacred. It is the most powerful nonviolent tool we have in a democracy."</h1>
    <h2> - John Lewis</h2>
  </div>
  <div class="button-container">
    <button class="button" (click)="goToRegister()">Register</button>
    <button class="button" (click)="goToLogin()">Login</button>
  </div>
</div>
</body>