<div class="input-container">
  <h2>Create Party</h2>
  <div class="form-group">
    <label for="partyName">Party Name</label>
    <input type="text" id="partyName" name="partyName" [(ngModel)]="partyFormData.name" required />
  </div>
  <div class="form-group">
    <label for="leaderName">Leader Name</label>
    <input type="text" id="leaderName" name="leaderName" [(ngModel)]="partyFormData.leaderName" required />
  </div>
  <div class="form-group">
    <label for="district">Select District</label>
    <select id="district" name="district" [(ngModel)]="partyFormData.districtId" required>
      <option value="0">Select a District</option>
      <option *ngFor="let district of districts" [value]="district.districtId">{{ district.name }}</option>
    </select>
  </div>
  <button class= "primary-btn" (click)="createParty()">Create Party</button>

  <div *ngIf="isLoading">Loading...</div>
</div>

<!-- Existing Parties Table -->
<h3 style="color: white;
text-align: center;
margin-top: 25px;">Existing Parties</h3>
<div class="existing-parties">  
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Leader</th>
        <th>District</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let party of parties">
        <td>{{ party.partyId }}</td>
        <td>{{ party.name }}</td>
        <td>{{ party.leaderName }}</td>
        <td>{{ party.districtId }}</td>
        <td>
          <button class="delete-btn" (click)="deleteParty(party.partyId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>